*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
.navbar{
   background-color: green; 
   filter: alpha(opacity=10); opacity:0,5;
}

body{
   background-color: black;
   display: inline;
	border: none ;
	box-shadow: none;
	height: 1em ;
	width: 1em ;
	margin: 0 0.07em ;
	vertical-align: -0.1em !;
	padding: 0 !;
	
		font-family: 'Segoe UI';
		font-weight: 400;
}

h1,legend,.horaire,p,h5{
   color: white;
}
label{
   color: white;
}
.me{
   color: whitesmoke;
}
.ring{

position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	color: var(--primary-color);}


.background { 
    background-color: green; 
    height: 150px; 
    padding: 10px; 
} 
  
.card { 
    margin-right: auto; 
    margin-left: auto; 
    scroll-margin-block: 9.375rem;
    width: 200px; 
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    height: 300px; 
    border-radius: 5px; 
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px; 
    text-align: center; 
	
} 
  
.card img { 
    height: 60%; 
}

.bord{
   display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
	width: auto;
}
.table{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 200px;
}
.horaire,.bea{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
	color: #ffffff;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	text-align: center;
	padding-bottom: 25px;
	color: #4b4c4d;
}


