{% extends 'base.html.twig' %}

{% block title %}AMIENS BC   club{% endblock %}

{% block body %}
<div class="table">
    <h1>bureau amiens boxing club</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card cyan">
                <div class="card-body">
                    <h2 class="card-title">Présidente</h2>
                    <p class="card-text">Vnessa FOUACHE</p>
                </div>
            </div>

            <div class="card blue mt-4">
                <div class="card-body">
                    <h2 class="card-title">Secrétaire</h2>
                    <p class="card-text">Sabine FOUACHE</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card red">
                <div class="card-body">
                    <h2 class="card-title">Vice-Président</h2>
                    <p class="card-text">Vincent DUFFRENOY</p>
                </div>
            </div>

            <div class="card orange mt-4">
                <div class="card-body">
                    <h2 class="card-title">Trésorier</h2>
                    <p class="card-text">Thomas HAMIDI</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card orange">
                <div class="card-body">
                    <h2 class="card-title">Membre</h2>
                    <p class="card-text">Steffy FOUACHE</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card orange">
                <div class="card-body">
                    <h2 class="card-title">Membre</h2>
                    <p class="card-text">Lucien DUPONT</p>
                </div>
            </div>

            <div class="card orange mt-4">
                <div class="card-body">
                    <h2 class="card-title">Cadre Technique</h2>
                    <p class="card-text">Jérome FOUACHE</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
